################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.suo

/.vs

/WebUI/node_modules
/WebUI/WebUI.njsproj.user
/WebUI/bin/
/WebUI/obj/

*.gitignore

.vs/
